{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
    },
    "rules": {
        "linebreak-style": 0,
        "global-require": 0,
        "eslint linebreak-style": [0, "error", "windows"],
    }
}