.stt {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  width: 37px;
  height: 37px;
  padding: 5px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.stt:hover {
  opacity: 1;
}

.stt__active {
  visibility: visible;
  opacity: 0.5;
}

.stt__block_black {
  background-color: #000;
  border-radius: 5%;
}

.stt__block__black:before {
  position: absolute;
  top: 50%;
  left: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  transform: translate(0, -50%) rotate(45deg);
}

.stt__block__black:after {
  position: absolute;
  top: 50%;
  right: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  transform: translate(0, -50%) rotate(-45deg);
}

.stt__circle__black {
  background-color: #000;
  border-radius: 50%;
}

.stt__circle__black:before {
  position: absolute;
  top: 50%;
  left: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  transform: translate(0, -50%) rotate(45deg);
}

.stt__circle__black:after {
  position: absolute;
  top: 50%;
  right: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  transform: translate(0, -50%) rotate(-45deg);
}

.stt__emoji {
  border-radius: 50%;
  opacity: 1;
}

.stt__emoji:before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 36px;
  content: "\1F446";
}
